.Edit {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Edit-loader {
  width: 10rem;
}

#edit-form {
  flex-grow: 1;
}

.Edit-actions {
  display: flex;
  justify-content: flex-end;
}

.Edit-button {
  padding: var(--spacing-small);
  background-color: var(--color-blue);
  border: none;
}

.Edit-button.Edit-delete-button {
  background-color: var(--color-gray-dark);
  color: white;
}

.Edit-actions > * + * {
  margin-left: var(--spacing);
}
