.Edit {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Edit-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.Edit-loader {
  width: 10rem;
}

.Edit-status p {
  margin: 0;
  margin-bottom: var(--spacing-small);
}

#edit-form {
  flex-grow: 1;
}

.Edit-actions {
  display: flex;
}

.Edit-button {
  padding: var(--spacing-small);
  background-color: var(--color-blue);
  border: none;
}

.Edit-button.Edit-delete-button {
  background-color: var(--color-gray-dark);
  color: white;
}

.Edit-actions > * + * {
  margin-left: var(--spacing);
}

.Edit-actions > * {
  flex-grow: 1;
  font-size: 1rem;
  line-height: 1rem;
}

.Edit-cancel-link {
  display: flex;
  justify-content: center;
  padding: var(--spacing-small);

  background-color: white;
  color: var(--color-gray-dark);
  text-decoration: none;
}
