.Edit {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Edit-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.Edit-loader {
  width: 10rem;
}

.Edit-status p {
  margin: 0;
  margin-bottom: var(--spacing-small);
}

#edit-form {
  flex-grow: 1;
}

.Edit-actions {
  display: flex;
}

.Edit-button {
  width: 100%;
  padding: var(--spacing-small);
  background-color: var(--color-blue);
  border: none;
}

.Edit-button.Edit-delete-button {
  background-color: var(--color-gray-dark);
  color: white;
}

.Edit-actions button + button {
  margin-left: var(--spacing);
}
